* { margin:0; padding:0; }
body {
    margin:0; padding:0; 
}
.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
.help-page h4,
.help-page .h4,
.help-page p,
#body.help-page,
.help-page-table th,
.help-page-table pre,
.help-page-table p {
    font-family: "Open Sans", "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
.help-page h4,
.help-page .h4 {
    color:#444;
}
.help-page pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    font-family: Consolas,monaco,monospace;
}
.help-page p {
    font-size: 10pt;
    line-height:1.7em;
}
.help-page .warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 15px 0px;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    background:#f2f2f2;
    padding: 5px;
    border: 1px solid #d4d4d4;
}

.help-page-table td {
    border: 1px solid #d4d4d4;
    padding: 4px;
    vertical-align: top;
}

.help-page-table pre,
.help-page-table p {
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-size: 100%;
}

.help-page-table tbody tr:hover td {
    background-color: #fcfcfc;
}

.help-page a:hover {
    background-color: transparent;
}

.help-page .sample-header {
    border-bottom: none;
    display: inline-block;
    margin-bottom: 10px;
}

.help-page .sample-content {
    display: block;
    border-width: 0;
    padding: 10px 15px;
    background: #FFFFFF;
    border-radius:5px;
    border: 1px solid #D4D4D4;
    margin-bottom: 15px;
}

.help-page .api-name {
    width: 40%;
}

.help-page .api-documentation {
    width: 60%;
}

.help-page .parameter-name {
    width: 20%;
}

.help-page .parameter-documentation {
    width: 40%;
}

.help-page .parameter-type {
    width: 20%;
}

.help-page .parameter-type a {
    padding:0;
}

.help-page .parameter-annotations {
    width: 20%;
}

.help-page h1,
.help-page .h1 {
    font-size: 22px;
    margin-bottom:10px;
}

.help-page h2,
.help-page .h2 {
    font-size: 20px;
}

.help-page h3,
.help-page .h3 {
    font-size: 18px; 
    margin:10px 0 10px 0;
    padding-bottom:5px;
    border-bottom:1px solid #d4d4d4;
    display:inline-block;
    width:100%;
}

#body.help-page {
    font-size: 14px;
    color: #333; 
}

.help-page a {
    color:#75bf56;
    text-decoration: none;
    display:inline-block;
}
.help-page a:hover {
    color:#477f30;
    text-decoration: none;
}
.hide {
    display: none;
}

.description {
    color:#808080;
}
.featured{
    background:#75bf56; 
    padding:10px 20px;
}
.featured a,.featured a:hover{
    color:#fff;
}
.body-header{
    background:#75bf56; 
    padding:10px 20px;
}
.body-header h2, .body-header p.description{
    color:#fff;
}
.body-content{
    padding:15px 20px;
}