*{box-sizing: border-box;}
html,body{width:100%; height:100%; background:#f9f9f9; font-family: 'Open Sans', sans-serif; font-size:14px; color:#333;}
.form-group{width:100%; display:inline-block;}
label.error{color:#a94442; height:8px; font-size:12px; margin-top:5px;}
textarea, input{outline: none !important; box-shadow:none !important;}
textarea:focus, input:focus{border:1px solid #ccc !important;}

.logo{width:150px}
.wrapper{margin:0 auto; padding:0; height:100%;}
#header{text-align:center; padding-top:60px;}

#content{min-height: calc(100vh - 185px); text-align:center; padding:20px 0; box-sizing:border-box; overflow:hidden;}
#content h2{padding-bottom:10px;}

#formReset{text-align:left; padding-top:10px;}
#formReset label.title{font-weight:700; color:#bdbec0; text-transform:uppercase; font-size:11px; }
#formReset input[type='button'], #formReset input[type='submit']{font-weight:600; font-size:13px; padding:10px 0; margin-top:5px;}

#footer {margin: 0; text-align:center; padding:30px 0; font-size:13px; color:#bdbec0;}

@media only screen and (min-width: 100px) and (max-width: 479px)
{
	.logo{width:130px}
	.wrapper{ padding:0 15px;}
	#content h2{font-size:26px;}
	.desc{font-size:13px;}
}

@media only screen and (min-width: 480px) and (max-width: 749px)
{
	.wrapper{width:60%; padding:0 15px;}
}
