<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400:sans-serif|Open+Sans:400:sans-serif" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/Areas/HelpPage/images/api.png" type="image/x-icon" />
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>