@using System.Web.Http
@using WebApi.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="body-content">
            <h2>@Model.Name</h2>
            <p class="description">@Model.Documentation</p>
            @Html.DisplayFor(m => Model)
        </div>
    </section>
</div>
